<div class="ring-container">
  <img class="ring ring--1" src="../../assets/hud-ring-01.png" alt="">
</div>
<div class="ring-container">
  <img class="ring ring--2" src="../../assets/hud-ring-02.png" alt="">
</div>
<div class="ring-container">
  <img class="ring ring--3" src="../../assets/hud-ring-03.png" alt="">
</div>
<div class="ring-container">
  <img class="ring ring--4" src="../../assets/hud-ring-04.png" alt="">
</div>
<div class="circle"></div>
<div class="inner-ring-container">
  <img class="inner-ring" src="../../assets/hud-ring-05.png" alt="">
</div>
