@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900');

body {
  background: url("assets/bg.png") #0b0225 top center;
  background-size: cover;
  color: white;
  font-family: 'Orbitron', sans-serif;
  padding: 0;
  margin: 0;
}
